<footer>
  <div class="footer-content">
    <p>Copyright &copy; 2016 Andrews Frempong ... Built with The Force</p>
  <div class="footer-icons">  
  <a href="#"><i class="fa fa-empire"></i></a>
  <a href="#"><i class="fa fa-rebel"></i></a>
</div>
  </div>
</footer>
