<header class="header-single-movie">

  <!-- episode hero image-->
  <%# <div class="header-single-hero-image">

  </div>%>

<img src= <%= image%> />


    <h1 class="app-title"> <%= title %></h1>
    <nav>
        <ul>
            <li class="movies-menu-single"><a href="#">MOVIES <i class="fa fa-arrow-down down-arrow-single"></i></a>
              <ul class="sub-movie-list">
                <% for ( var i = 0; i < movies.length; i++) {%>
                  <li><a href="#"><%= movies[i].title %></a></li>
                <%}%>
              </ul>
            </li>
            <li class="home-menu-single"><a href="#">HOME</a></li>
        </ul>
    </nav>
</header>
