<!DOCTYPE html>
<html lang="en">

<head>

    <% include partials/head.ejs %>

</head>

<body>

    <!--container -->
    <div class="container">

        <!--header -->

        <% include partials/header.ejs%>


        <!--posters-container content -->
        <div class="posters-container">

            <% for (var i = 0; i < movies.length; i++) { %>
                <div class="poster-item">
                    <img src="/images/<%= movies[i].poster %>" width="300px" height="400px" />

                    <!-- poster-item-overlay-->
                    <div class="poster-item-overlay">
                      <h3><%= movies[i].title%></h3>
                      <h6>VIEW MORE <i class="fa fa-arrow-right"></i> </h6>
                    </div>

                </div>

                <% } %>

        </div>



        <!--footer -->
        <footer>footer</footer>


        <% include partials/scripts.ejs %>
    </div>
    <!-- end of container -->
</body>

</html>
