<!DOCTYPE html>
<html lang="en">

<head>

    <% include partials/head.ejs %>

</head>

<body>

    <!--container -->
    <div class="container">

        <!--header -->

        <% include header-single-movie.ejs %>

        <!--content single-->

      <div class="single-main-content-container">


        <div class="poster-single">
          <img src= <%=poster %> width="300px" height="400px" />
        </div>


        <div class="single-main-content">
          <p>
            <%= description%>
          </p>

        </div>



      </div>


        <!--footer -->
        <footer>footer</footer>


        <% include partials/scripts.ejs %>
    </div>
    <!-- end of container -->
</body>

</html>
