<!DOCTYPE html>
<html lang="en">

<head>

    <% include partials/head.ejs %>

</head>

<body>

    <!--container -->
    <div class="container">

        <!--header -->

        <% include header-single-movie.ejs%>



        <!--footer -->
        <footer>footer</footer>


        <% include partials/scripts.ejs %>
    </div>
    <!-- end of container -->
</body>

</html>
